# CleanAir AI Configuration
# Backend Server Configuration
PORT=8000

# OpenAQ API Key (Get a free key from https://openaq.org)
# Leave blank to use Demo Data mode
OPENAQ_API_KEY=4ede4c633b2b59161a92ea071bd5e2ed23f889fbf04f4dce912d054e2dd0aa9e

# Groq API Key (Get a free key from https://console.groq.com)
# Leave blank to use CleanAir AI local intelligent fallback assistant
GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile
